<div class="toolbar">
  <mat-toolbar color="primary">
    <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
    <mat-menu class="openedMenu" #menu="matMenu">
      <button routerLink="calculator" mat-menu-item>Calculator</button>
      <button routerLink="feedback" mat-menu-item>Feedback</button>
      <button routerLink="form" mat-menu-item>Form</button>
      <button routerLink="reactiveform" mat-menu-item>Reactive form</button>
      <button routerLink="cinema" mat-menu-item>Cinema</button>
      <button routerLink="currencyconverter" mat-menu-item>Currency converter</button>
      <button routerLink="forex" mat-menu-item>Forex</button>
      <button routerLink="login" mat-menu-item>Login</button>
    </mat-menu>
    <!--
    <div class="userEmail">
      <p *ngIf="authService.isLoggedIn()">{{(authService.user | async)?.email}}</p>
      <p *ngIf="!authService.isLoggedIn()"></p>
    </div>
    <div class="button">
      <button mat-raised-button routerLink="login" *ngIf="authService.isLoggedIn()">Login</button>
      <button mat-raised-button routerLink="login" *ngIf="!authService.isLoggedIn()">Logout</button>
    </div>
    -->
  </mat-toolbar>
</div>
