<div class="toolbar">
  <mat-toolbar color="primary">
    <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
    <mat-menu class="openedMenu" #menu="matMenu">
      <button routerLink="calculator" mat-menu-item>Calculator</button>
      <button routerLink="feedback" mat-menu-item>Feedback</button>
      <button routerLink="form" mat-menu-item>Form</button>
      <button routerLink="reactiveform" mat-menu-item>Reactive form</button>
      <button routerLink="cinema" mat-menu-item>Cinema</button>
    </mat-menu>
  </mat-toolbar>
</div>
