<mat-card class="login">
  <h3 class="loginTitle">Login to admin page.</h3>
  <div *ngIf="!(authService.user | async)">
    <mat-form-field>
      <label>
        <input matInput type="text" [(ngModel)]="email" placeholder="email">
      </label>
    </mat-form-field>
    <br>
    <mat-form-field>
      <label>
        <input matInput type="password" [(ngModel)]="password" placeholder="password">
      </label>
    </mat-form-field>
    <br>
    <button mat-raised-button class="loginButton" (click)="login()" [disabled]="!email || !password">Login</button>
    <button mat-raised-button class="cancelButton" (click)="cancelLogin()">Cancel</button>
  </div>
</mat-card>
