<h1 class="title">Currency converter</h1>
<div class="text">
  <p>Add an amount which you would like to convert.</p>
  <p>Then choose a currency that you would like to convert.</p>
  <p>Then choose a currency that you wish to receive.</p>
  <P>Finally press the calculate button to get the converted currency.</P>
</div>
<mat-card class="currencyConverter">
  <mat-form-field class="currencyAmount">
    <label>
      <mat-label>Amount</mat-label>
      <input [(ngModel)]="userInput" matInput type="number" id="amount">
    </label>
  </mat-form-field>
  <mat-form-field class="firstCurrency">
    <mat-label>From</mat-label>
    <mat-select [(ngModel)]="currencyFrom">
      <mat-option *ngFor="let currency of getCurrency" value="{{currency}}">{{currency}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="secondCurrency">
    <mat-label>To</mat-label>
    <mat-select [(ngModel)]="currencyTo">
      <mat-option *ngFor="let currency of getCurrency" value="{{currency}}">{{currency}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="convertedCurrency">
    <label>
      <mat-label>Result</mat-label>
      <input matInput [(ngModel)]="convertedCurrency">
    </label>
  </mat-form-field>
  <button class="calculateButton" mat-raised-button (click)="calculateResult()">Calculate</button>
</mat-card>
