<mat-card>
  <mat-form-field>
    <label>
      <p>Amount</p>
      <input matInput type="number" id="amount">
    </label>
  </mat-form-field>
  <mat-form-field class="firstCurrency">
    <p>From</p>
    <mat-select></mat-select>
  </mat-form-field>
  <mat-form-field class="secondCurrency">
    <p>To</p>
    <mat-select></mat-select>
  </mat-form-field>
  <button class="calculateButton" mat-raised-button (click)="calculateResult()">Calculate</button>
  <h3 id="convertedCurrency"></h3>
</mat-card>
