<mat-card class="form">
  <form (ngSubmit)="onSave()" #contactForm="ngForm">
    <div>
      <mat-form-field>
        <label for="firstName"></label>
        <input matInput type="text"
               class="form-control"
               id="firstName"
               [(ngModel)]="person.firstName"
               name="firstName"
               #firstName="ngModel"
               required minlength="2"
               pattern="[a-öA-Ö]*"
               placeholder="First name">
      </mat-form-field>
    </div>

    <mat-error>
      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
        <p class="instructionTextFirstName" *ngIf="firstName.hasError('required')">Enter your first name</p>
        <p class="instructionTextFirstName" *ngIf="firstName.hasError('minlength')">Minimum 2 characters required</p>
        <p class="instructionTextFirstName" *ngIf="firstName.hasError('pattern')">First name is invalid</p>
      </div>
    </mat-error>

    <div>
      <mat-form-field>
        <label for="lastName"></label>
        <input matInput type="text"
               class="form-control"
               id="lastName"
               [(ngModel)]="person.lastName"
               name="lastName"
               #lastName="ngModel"
               required minlength="2"
               pattern="[a-öA-Ö]*"
               placeholder="Last name">
      </mat-form-field>
    </div>

    <mat-error>
      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
        <p class="instructionTextLastName" *ngIf="lastName.hasError('required')">Enter your last name</p>
        <p class="instructionTextLastName" *ngIf="lastName.hasError('minlength')">Minimum 2 characters required</p>
        <p class="instructionTextLastName" *ngIf="lastName.hasError('pattern')">Last name is invalid</p>
      </div>
    </mat-error>

    <div>
      <mat-form-field>
        <label for="personID"></label>
        <input matInput type="text"
               class="form-control"
               id="personID"
               [(ngModel)]="person.personID"
               name="personID"
               #personID="ngModel"
               required minlength="11"
               pattern="^(0[1-9]|[12]\d|3[01])(0[1-9]|1[0-2])([5-9]\d\+|\d\d-|[01]\dA)\d{3}[\dA-Z]$"
               placeholder="Person ID">
      </mat-form-field>
    </div>

    <mat-error>
      <div *ngIf="personID.invalid && (personID.dirty || personID.touched)">
        <p class="instructionTextPersonID1" *ngIf="personID.hasError('required')">Enter your Person ID</p>
        <p class="instructionTextPersonID1" *ngIf="personID.hasError('minlength')">Minimum 11 characters required</p>
        <p class="instructionTextPersonID2" *ngIf="personID.hasError('pattern')">Person Id is invalid</p>
      </div>
    </mat-error>

    <div>
      <mat-form-field>
        <label for="eMail"></label>
        <input matInput type="text"
               class="form-control"
               id="eMail"
               [(ngModel)]="person.eMail"
               name="eMail"
               #eMail="ngModel"
               required minlength="1"
               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
               placeholder="Email">
      </mat-form-field>
    </div>

    <mat-error>
      <div *ngIf="eMail.invalid && (eMail.dirty || eMail.touched)">
        <p class="instructionTextEmail" *ngIf="eMail.hasError('required')">Enter your Email</p>
        <p class="instructionTextEmail" *ngIf="eMail.hasError('pattern')">Email is invalid</p>
      </div>
    </mat-error>

    <div>
      <mat-form-field>
        <label for="userName"></label>
        <input matInput type="text"
               class="form-control"
               id="userName"
               [(ngModel)]="person.userName"
               name="userName"
               #userName="ngModel"
               required minlength="6"
               placeholder="Username">
      </mat-form-field>
    </div>

    <mat-error>
      <div *ngIf="userName.invalid && (userName.dirty || userName.touched)">
        <p class="instructionTextUsername" *ngIf="userName.hasError('required')">Enter your username</p>
        <p class="instructionTextUsername" *ngIf="userName.hasError('minlength')">Minimum 6 characters required</p>
      </div>
    </mat-error>

    <div>
      <mat-form-field>
        <label for="passWord"></label>
        <input matInput type="password"
               class="form-control"
               id="passWord"
               [(ngModel)]="person.passWord"
               name="passWord"
               #passWord="ngModel"
               required minlength="10"
               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
               placeholder="Password">
      </mat-form-field>
    </div>

    <mat-error>
      <div *ngIf="passWord.invalid && (passWord.dirty || passWord.touched)">
        <p class="instructionTextPassword1" *ngIf="passWord.hasError('required')">Enter your password</p>
        <p class="instructionTextPassword2" *ngIf="passWord.hasError('minlength')">Minimum 10 characters required</p>
        <p class="instructionTextPassword3" *ngIf="passWord.hasError('pattern')">Password must contain a number, a
          capital letter and a lowercase letter</p>
      </div>
    </mat-error>

    <div>
      <mat-form-field>
        <label for="confirmPassword"></label>
        <input matInput type="password"
               class="form-control"
               id="confirmPassword"
               [(ngModel)]="person.confirmPassword"
               name="confirmPassword"
               #confirmPassword="ngModel"
               required minlength="10"
               pattern="{{passWord.value}}"
               placeholder="Confirm password">
      </mat-form-field>
    </div>

    <mat-error>
      <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
        <p class="instructionTextConfirmPassword" *ngIf="confirmPassword.hasError('required')">Repeat your password</p>
        <p class="instructionTextConfirmPassword" *ngIf="confirmPassword.hasError('pattern')">Passwords does not
          match</p>
      </div>
    </mat-error>

    <div>
      <p>Accept terms and conditions</p>
      <label for="acceptBox"></label>
      <mat-checkbox
        class="form-control"
        id="acceptBox"
        [(ngModel)]="person.acceptBox"
        name="acceptBox"
        #acceptBox="ngModel" required>
      </mat-checkbox>

      <mat-error>
        <div *ngIf="acceptBox.invalid && (acceptBox.dirty || acceptBox.touched)">
          <br>
          <p class="acceptTerms" *ngIf="acceptBox.hasError('required')">Please accept terms and conditions to
            proceed</p>
        </div>
      </mat-error>
    </div>
  </form>

  <div>
    <button mat-raised-button type="submit" class="submitButton" [disabled]="contactForm.form.invalid"
            (click)="onSave()">Submit
    </button>
  </div>
</mat-card>
